{{! server-side comment: This will show detail info for the specifically requested MedPlant }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" />
    <title>Medicinal Plants of the Pacific NorthWest</title>    
</head>
<body>
    
    <h3 class="home link"><a href="/">Home</a></h3>
    

{{#if result}}
    <h2>Common Name: {{result.commonName}}</h2>
    <li>Latin Name: {{result.latinName}}
    <li>Habitat: {{result.habitat}}
    <li>Harvest Time: {{result.harvestTime}}
{{else}}
    <h2>{{result.commonName}} not found</h2>
{{/if}}

</body>
</html>